.pages-container {
    height: 80vh;
    width: 100%;
    padding: 2vh;
}

.about-navigation-container {
    height: 76vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 2vh;
    transition: .5s;
}

.about-outlet-container {
    height: 76vh;
    padding: 3vh;
}

.about-navigation-holder {
    display: flex;
    flex-direction: column;
}

.about-navigation-holder .about-nav-links {
    text-decoration: none;
    margin-bottom: 5vh;
    color: #fffffe;
    font-family: 'Orbitron', sans-serif;
    font-size: 2vh;
    text-transform: uppercase;
    padding: 1vh 2vh;
    width: 100%;
    transition: .5s;
}

.about-navigation-holder .about-nav-links:hover {
    background-color: #fffffe;
    color: #5f6c7b;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2) inset;
    border-radius: 1vh;
}

.about-navigation-holder .about-nav-links.active {
    background-color: #fffffe;
    color: #5f6c7b;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2) inset;
    border-radius: 1vh;
}

.about-content-title {
    top: -7vh;
    color: #fffffe;
    font-size: 9vh;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    width: 60vw;
    z-index: 1;
}




.about-content-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;

}

.img-shade {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

}

.about-content-holder {
    height: 55vh;
    position: absolute;
    border-radius: 1vh;
    right: -5vw;
    width: 90%;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(9, 64, 103, 0.8);
    overflow-y: scroll;
    bottom: -10vh;
    z-index: 1;
}

.about-content {
    padding: 2vh;


}

.about-content h3 {
    font-size: 2vh;
    color: #fffffe;
    margin-bottom: 1vh;
}

.about-content p {
    font-size: 1.7vh;
    color: #fffffe;
    text-align: justify;
}


.about-ribbon svg {
    color: #fffffe;
    font-size: 4vh;
    transform: rotate(180deg);
    cursor: pointer;
    transition: 1s linear;
    transition: transform 1s;
    z-index: 10;
    position: absolute;
    display: none;
}

.about-ribbon svg.active {
    transform: rotate(0deg);
}

.pages-button {
    text-align: center;
    margin-top: 5vh;
}

.pages-button a {
    text-decoration: none;
    padding: 1vh 2vh;
    color: #5f6c7b;
    font-family: 'Orbitron', sans-serif;
    transition: .5s;
    font-size: 2vh;
    background-color: #fffffe;
    box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.2)inset;
    -moz-box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.2)inset;
    background-color: rgba(9, 64, 103, 0.8)inset;
    border-radius: 1vh;
}

.pages-button a:hover {
    color: #fffffe;
    background-color: #000A2B;

}

@keyframes forwardMove {
    from {
        left: 0px;
    }

    to {
        left: 160px;
    }
}

@keyframes backwardMove {
    from {
        left: 160px;
    }

    to {
        left: 0px;
    }
}

@media (max-width: 992px) {
    .pages-container {
        padding: 0;
    }

    .about-navigation-container {
        padding: 0;
        margin-right: 0;
    }

    .about-outlet-container .pages-col-6 {
        flex: 100%;
        max-width: 100%;
    }

    .about-content-img {
        height: 76vh;
        border-radius: 1vh;
    }

    .img-shade {
        border-radius: 1vh;
    }

    .about-content-holder {
        height: 60vh;
        position: absolute;
        border-radius: 1vh;
        right: 0;
        width: 100%;
        box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.2);
        background-color: rgba(9, 64, 103, 0.8);
        overflow-y: scroll;
        bottom: -76vh;
        z-index: 1;
    }


    .about-content-title {
        position: absolute;
        top: 0;
        background-color: rgba(9, 64, 103, 0.8);
        width: 100%;
        border-radius: 1vh;
        height: 14vh;
        font-size: 5vh;
        padding: 1vh;
    }

    .about-outlet-container {
        height: 76vh;
        padding: 0;
    }


}

@media (max-width: 690px) {
    .pages-container .pages-row .pages-col-3 {
        flex: 0%;
        max-width: 0%;
    }

    .pages-container .pages-row .pages-col-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-content-title {
        font-size: 4vh;
    }

    .about-outlet-container {
        height: 76vh;
        margin-top: 5vh;
    }

    .about-ribbon svg {
        display: block;
        animation: backwardMove .5s;
        animation-fill-mode: forwards;

    }

    .about-ribbon svg.active {
        transform: rotate(0deg);
        animation: forwardMove .5s;
        animation-fill-mode: forwards;
    }

    .about-navigation-container {
        width: 170px;
        position: absolute;
        z-index: 5;
        background-color: rgba(9, 64, 103);
        height: 100vh;
        top: -9vh;
        left: -190px;
    }

    .about-navigation-container.active {
        left: -20px;
    }




}