.login-holder h3 {
    margin-bottom: 5vh;
    color: #fffffe;
    font-size: 3vh;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.login-holder form label {
    color: #fffffe;
    font-size: 1.5vh;
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.login-holder form input {
    width: 100%;
    height: 4.5vh;
    margin: 1vh 0;
    border-radius: 1vh;
    border: 1px solid #fffffe;
    padding: 1vh;
    font-size: 1.7vh;
    color: #000A2B;
}

.login-holder form button {
    width: 100%;
    height: 4.5vh;
    margin-top: 2vh;
    border-radius: 1vh;
    border: none;
    box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.3) inset;
    background-color: #5f6c7b;
    color: #fffffe;
    text-transform: uppercase;
    border: none;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    transition: .5s;
}

.login-holder form button:hover {
    background-color: #90b4ce;
    color: #000A2B;
    border: .25vh solid #000a2b00;
}

.login-holder {
    height: 100vh;
    background-color: rgba(9, 64, 103, 0.7);
    padding: 20vh 4vh;
}

.login-holder p {
    color: #fffffe;
    margin-top: 2vh;
    font-weight: 300;
}

.login-holder p a {
    color: #fffffe;

}

@media (max-width: 1200px) {
    .login-container .pages-col-4 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .login-container .pages-col-8 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@media (max-width: 992px) {
    .login-container .pages-col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .login-container .pages-col-8 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media (max-width: 690px) {
    .login-container .pages-col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .login-container .pages-col-8 {
        flex: 0 0 0%;
        max-width: 0%;
    }
}