.navigation-holder {
    position: absolute;
    top: 30vh;
    right: 0;
    padding-right: 4vh;
    z-index: 10;
}

.navigation-holder .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navigation-holder .navbar a {
    text-decoration: none;
    color: #fffffe;
    margin-bottom: 5vh;
    font-size: 1.7vh;
    font-family: 'Orbitron', sans-serif;
    width: 100px;
    padding: .5vh 1vh;
    border: 1px solid;
    cursor: pointer;
    background-color: #09406700;
    transition: .5s;
}

.navigation-holder .navbar a:hover {
    color: #000A2B;
    background-color: #fffffe;
}

a.header-nav-links.active {
    color: #000A2B;
    background-color: #fffffe;
}