.footer-holder {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 4vh;
    left: 3vh;
    width: 250px;
}

.footer-holder a {
    text-decoration: none;
    font-family: 'icons_social_media';
    color: rgb(255, 255, 254);
    font-size: 4vh;
    transition: .5s;
    margin-top: .5vh;
}

.footer-holder a:hover {
    color: #000A2B;
    margin-top: 0;
}